footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    #content {
        width: 70rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        margin-top: 1rem;
        border-radius: 12px;
        p{
            font-size: 0.8rem;
        }
    }
}

@media only screen and (max-width: 1200px){
    footer {
    width: 100%;
    display: flex;
    
    align-items: center;
    justify-content: center;

    #content {
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 0.5rem;
        text-align: center;
    }
}
}