:root, #root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  width: 100%;
}
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;

  --main-grey: #E5E8EB;
  --darker-grey: #dadbdb;
  --main-blue: #0A80ED;
  --main-red:rgb(240, 2, 2);
  --darker-red:rgb(156, 2, 2);
}

p{
  margin: 0;
  font-size: 1.2rem;
}
input{
  padding: 0.8rem 1rem;
  border-radius: 12px;
  background-color: #ffffff00;
  outline: var(--main-grey);
  border: 2px solid var(--main-grey);
}

button{
  background-color: var(--main-blue);
  padding: 1rem 1.5rem;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  text-align: center;
  transition-duration: 0.3s;
  border: none;
  
}
button:hover{
    background-color: rgb(37, 47, 192);
  }

h1,h2,h3{
  margin: 0;
}