.render-module {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    // border: 1px solid var(--main-grey);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-bottom: 1rem;
    margin-top: 1rem;
    border: 2px solid var(--main-grey);
    border-left: none;

    button {
            font-size: 0.9rem;
        }

    #deleteQuestion {
        height: 3rem;
        width: 100%;
        display: flex;
        justify-content: end;

        button {
            height: 100%;
            padding: 0.2rem;
            aspect-ratio: 1/1;
            border-radius: 0 12px 0 12px;
            background-color: var(--main-red);

            &:hover{
                background-color: var(--darker-red);
            }

        }
    }


    input {
        width: 60%;
    }

    #answer-type {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;


        .simple-button{
            background-color: rgba(255, 255, 255, 0);
            color: black;
            font-size: 0.9rem;
            font-weight: 200;
            border: 2px solid var(--main-grey);
            padding: 0.6rem 1rem;
            border-radius: 12px;
            
            &:last-child{
                margin-right: 0.5rem;
            }

            &:hover{
                background-color: var(--darker-grey);
            }
        }
    }


    .answer {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 2rem 0;

        input {
            width: 20%;
            margin: 0 0rem;

            &:first-child {
                width: 60%;
            }
        }

        button {
            width: 15%;
            margin-left: 0.5rem;
            background-color: var(--main-red);

            &:hover{
                background-color: var(--darker-red);
            }
        }
    }

}